/* 
 * Main Styles
 * 2017-07-06
 *
 * Markus Bernsteiner, lab10 collective
*/



.tabletsOnly,
.phonesOnly,
.phonePortraitOnly {
	display: none;
}
.desktopOnly {
    display: block;
}

@media screen and (min-width: 768px) {

  	header nav {
      display: block !important;
    }

}

@media screen and (min-width: 1px) and (max-width: 1023px) {
  
  .desktopOnly {
    display: none;
  }
  
}


/* Phones */
@media screen and (min-width: 768px) and (max-width: 1023px) {

	.tabletsOnly {
		display: block;
	}
	



	header .inner,
	.projectExplanation,
	.creditsButton,
	.currentGame,
	footer .footerInner {
		width: 750px;
	}
	
	.newToBlockchainWrapper {
    width: 750px;
  }
	
	.field, 
	.layer .layerInner {
		width: 720px;
		padding: 15px;
	}
	
	
	
	header nav {
	}

	.creditsButton .button {
		font-size: 30px;
	}
	
	.currentGame .liveCam, 
	.currentGame .gameField,
	.c50l,
	.c50r {
		width: 100%;
		float: none;
		padding: 0px;

	}

	.currentGame .goField {
		padding: 0px;
		position: relative;
		left: -10px;
	}


  .boardWrapper,
  #gameField .goField {
    float: none;
    margin: 0 auto;
  }
  
  #gameField .gameInfo {
    width: 100%;
    float: none;

    border-top: 5px solid #1a6185;
    margin-top: 20px;
    padding-top: 20px;

  }



  #gameField .gameInfo h2, 
  #gameField .gameInfo .item, 
  #gameField .gameInfo p {
    margin-left: 0px;
  }
  
  
  .layer#startGame {
    text-align: center;
  }


	.closeLayerButton {
		position: absolute;
		top: 15px;
		right: 15px;
	}

  .gamePaused .pausedStatusMsg,
  .gameStopped .gameStoppedStatusMsg  {
    float: none;
    margin: 0 auto;
  }
  
  .gamePaused .pausedStatusMsg {
    padding-top: 1px;
  }
  
  .stopGameWrapper {
    padding-left: 0px;
  }

  .field.currentGame .liveCamRefreshRate {
    padding-bottom: 30px;
  }

	footer {
		background-size: 768px auto;
		background-position: center top;
		height: 500px;
	}
	
	footer .footerInner {
		padding-top: 300px;
	}
	


	footer .partners a.kunsthaus-graz {
		padding-right: 50px;
	}
	
	footer .partners a.cep-eu {
		padding-right: 70px;
	}
	
	
  .hotspots .hotspot {
    padding: 15px 10px 15px 10px;
    width: 200px;
    min-height: 400px;
  }
	
	



  .videoField iframe {
    width: 720px;
    height: 464px;
  }
  
  .videoField a { 
    width: 720px;
    height: 462px;
  }


  .specialTimeSlotBanner {
    width: 750px;
  }





	/* height: calc(100% - 20px); */





	
	@media 
	(-webkit-min-device-pixel-ratio: 2), 
	(min-resolution: 192dpi) { 
	    
	    /* hires-specific stuff here */

	    
	}	

}

/* Phones, Portrait & Landscape  */
@media screen and (min-width: 1px) and (max-width: 767px) {

  .phonesOnly {
    display: block;
  }
  
  .hideOnMobile {
    display: none;
  }
  
  header {
    height: 60px;
    background: #FFFFFF;
    z-index: 10010;
    margin-bottom: 15px;
    border-bottom: 0px;

  }

  header .inner {
    position: relative;
    width: 100%;
  }

	header .logo {
  	width: 225px;
  	height: 60px;
  	background-size: 225px auto;
  }
  

  .layer {
    top: 60px;
  }
  
  .closeLayerButton {
      border-bottom: 2px solid #1a6185;
      border-top: 2px solid #1a6185;
      display: block;
      height: 40px;
      right: 0;
      top: 25px;
      width: 45px;
  }
  
  .navTrigger {
    width: 60px;
    height: 60px;
    
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 100;
  }
  
  .navTrigger .showButton,
  .navTrigger .hideButton {
    width: 60px;
    height: 56px;
    display: block;
    border-bottom: 4px solid #1a6185;
    position: absolute;
    top: 0px;
    left: 0px;
    
    font-size: 0em;
    text-indent: -500000em;
    background-color: #3ba0d2;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50px auto;

   	transition: background-color .5s ease-in-out;
  	-moz-transition: background-color .5s ease-in-out;
  	-webkit-transition: background-color .5s ease-in-out;
  
  }
 
   .navTrigger .showButton {
    background-image: url(../img/lines-100x100-white.png);
  } 
  
  .navTrigger .hideButton {
    background-image: url(../img/x-100x100-white.png);
    display: none;
  }


  .navTrigger .showButton:hover,
  .navTrigger .hideButton:hover {
    cursor: pointer;
    background-color: #000000;
  }


	header nav {
		display: none;
    background: #3ba0d2;
    border-bottom: 4px solid #1a6185;
    float: none;
    position: absolute;
    right: 0px;
    top: 60px;
    z-index: 10010;
	}

	header nav ul {
    border-top: 1px solid #FFFFFF;
  }
	
	header nav ul li {
    float: none;
    padding: 0px;
    border-bottom: 1px solid #FFFFFF;
  }	
  
  header nav ul li a,
  header nav ul li a:visited {
    border: none;
    text-align: right;
    height: auto;
    line-height: 22px;
    padding: 5px 15px 5px 35px;
    color: #FFFFFF;   
    font-weight: 300;
  }
  
  header nav ul li a:hover {
    color: #FFFFFF;
    background: #000000;
  }


  #gameSummary .c50r h2 {
    margin-top: 50px;
  }
  
  
  .gameInfo {
    border-top: 5px solid #1a6185;
    margin-top: 20px;
    padding-top: 20px;
  }

  #gameField .gameInfo h2, 
  #gameField .gameInfo .item, 
  #gameField .gameInfo p {
    margin-left: 0px;
  }

  .gamePaused .pausedStatusMsg {
    padding-top: 1px;
  }
  
  .boardWrapper {
    padding-bottom: 20px;
    float: none;
  }
  
  .stopGameWrapper {
    padding-left: 0px;
  }
 
  .field.currentGame .liveCamRefreshRate {
    padding-bottom: 30px;
  }
  
  .button {
    width: calc(100% - 36px);
  }

  .hotspots .c33l,
  .hotspots .c33c,
  .hotspots .c33r {
    text-align: center;
  }
  
  .reactNotWorking {
      padding: 5px;
      font-size: 14px;
  }

  .reactNotWorking a {
      font-size: 14px;
  }

  footer {
    	padding-top: 100px;
  }

  .specialTimeSlotBanner {
    width: 460px;
  }

  .specialTimeSlotBanner a {
    height: 50px;
    width: 253px;
    background-size: auto 50px;
  }


}

/* Phones, Landscape Only */
@media screen and (min-width: 480px) and (max-width: 767px) {


	.projectExplanation,
	.creditsButton,
	.currentGame,
	footer .footerInner {
		width: 460px;
	}

	.field, 
	.layer .layerInner {
		width: 430px;
		padding: 15px;
	}
	
  .newToBlockchainWrapper {
    width: 456px;
    text-align: center;
    margin-bottom: 15px;
  }

  .newToBlockchainWrapper span {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  	

	
	.currentGame .liveCam, 
	.currentGame .gameField,
	.c50l,
	.c50r,
	.c33l,  
  .c33c,
  .c33r {
		width: 100%;
		float: none;
		padding: 0px;

	}


	.creditsButton .button {
		font-size: 30px;
	}
	
	.currentGame .liveCam, 
	.currentGame .gameField,
	#gameField .gameInfo {
		width: 100%;
		float: none;
	}

	.currentGame .goField {
		padding: 0px;
		position: relative;
		left: -10px;
	}


  #gameField .goField  {
    float: none;
    position: relative;
    left: -10px;
  }
  
  .gamePaused .pausedStatusMsg,
  .gameStopped .gameStoppedStatusMsg  {
    padding-left: 20px;
    padding-right: 20px;
    width: 360px;
    float: none;
    font-size: 16px;
    margin: 0 auto;
  }

  .gamePaused .pausedStatusMsg p {
    font-size: 15px;
  }
  
  .gamePaused .pausedStatusMsg .redeemTokensButtonIfGamePaused .button {
    margin-left: 0px;
    margin-right: 0px;
  }
  


	footer {
		background-size: 480px auto;
		background-position: center top;
		height: 400px;
	}
	
	footer .footerInner {
		padding-top: 200px;
	}
	


	footer .partners a.kunsthaus-graz,
	footer .partners a.cep-eu {
		padding-right: 0px;
	}
	
	footer .partners a.kunsthaus-graz {
		width: 150px;
	}
	
	footer .partners a.cep-eu {
		width: 190px;
	}
	
	footer .partners a.toolbox {
		width: 80px;
	}
	
	footer .partners a.drei {
		width: 30px;
	}
	
	
	
	
	footer .partners a.kunsthaus-graz,
	footer .partners a.cep-eu,
	footer .partners a.toolbox,
	footer .partners a.drei {
		height: 50px;
		background-size: auto 50px;
	}



  .videoField iframe {
    width: 427px;
    height: 275px;
  }

  .videoField a { 
    width: 430px;
    height: 277px;
  }




	@media 
	(-webkit-min-device-pixel-ratio: 2), 
	(min-resolution: 192dpi) { 
	    
	    /* hires-specific stuff here */

	    
	}	
	
	
	
		
}



/* Phones, Portrait Only */
@media screen and (min-width: 1px) and (max-width: 479px) {
	

  .phonePortraitOnly {
    display: block;
  }


	.projectExplanation,
	.creditsButton,
	.currentGame,
	footer .footerInner {
		width: 320px;
	}

	.field, 
	.layer .layerInner {
		width: 300px;
		padding: 10px;
	}

  .newToBlockchainWrapper {
    width: 316px;
    text-align: center;
    margin-bottom: 15px;
  }

  .newToBlockchainWrapper span {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  	



	.currentGame .liveCam, 
	.currentGame .gameField,
	.c50l,
	.c50r,
	.c33l,  
  .c33c,
  .c33r {
		width: 100%;
		float: none;
		padding: 0px;
	}

	
	.goField {
		width: 225px;
		height: 225px;
		background-size: 225px auto;
		padding: 12.5px;
	}
	
	.goField .place {
		width: 20px;
		height: 20px;
		margin: 2.5px;
		line-height: 20px;
		font-size: 12px;
	}

  #gameField .goField {
    margin: 0 auto;
    float: none;
  }


  .gamePaused .pausedStatusMsg,
  .gameStopped .gameStoppedStatusMsg  {
    padding-left: 20px;
    padding-right: 20px;
    width: 260px;
    float: none;
    font-size: 16px;
    margin: 0 auto;
  }

  .gameStats {
    padding-left: 0px;
    padding-right: 0px;
  }

  .gamePaused .pausedStatusMsg p {
    font-size: 15px;
  }
  
  .gamePaused .redeemTokensButtonIfGamePaused {
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .gamePaused .pausedStatusMsg .redeemTokensButtonIfGamePaused .button {
    margin-left: 0px;
    margin-right: 0px;
    white-space: nowrap;
    font-size: 14px;
  }
  

  .comePlayWithUs p {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 125px;
    padding-bottom: 25px;
    text-align: center;
    background-position: center top;
  }


  #gameField .gameInfo {
    width: 300px;
    float: none;
  }

  .gameInfo .placeStatus .yourTeamInfotext {
    padding-top: 35px;
    margin-top: 10px;
    margin-bottom: 13px;
  }
  
  .gameInfo .placeStatus .yourTeamInfotext .stone {
    top: 0px;
    margin-top: 0px;
    
    right: 50%;
    margin-right: -15px;
  }

 
  .socialIcon {
	  width: 40px;
    height: 40px;
    margin-left: 16px;
	}
  

	footer {
		background-size: 480px auto;
		background-position: center top;
		height: 500px;
	}
	
	footer .footerInner {
		padding-top: 200px;
	}
	


	footer .partners a.kunsthaus-graz,
	footer .partners a.cep-eu {
		padding-right: 0px;
	}
	
	footer .partners a.kunsthaus-graz {
		width: 150px;
	}
	
	footer .partners a.cep-eu {
		width: 190px;
	}
	
	footer .partners a.toolbox {
		width: 80px;
	}
	
	footer .partners a.drei {
		width: 30px;
	}
	
	
	
	
	footer .partners a.kunsthaus-graz,
	footer .partners a.cep-eu,
	footer .partners a.toolbox,
	footer .partners a.drei {
		height: 50px;
		background-size: auto 50px;
	}



  .videoField iframe {
    width: 297px;
    height: 189px;
  }

  .videoField a { 
    width: 300px;
    height: 193px;
  }

  .specialTimeSlotBanner {
    width: 320px;
  }



	@media 
	(-webkit-min-device-pixel-ratio: 2), 
	(min-resolution: 192dpi) { 
	    
	    /* hires-specific stuff here */


	}	
	
	
		
}

