/* 
 * Main Styles
 * 2017-07-06
 *
 * Markus Bernsteiner, lab10 collective
*/

@font-face {
	font-family: 'Tram Joanneum';
	src: url('fonts/TramJoanneum-Regular.eot');
	src: url('fonts/TramJoanneum-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/TramJoanneum-Regular.woff') format('woff'),
		url('fonts/TramJoanneum-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Tram Joanneum';
	src: url('fonts/TramJoanneum-Light.eot');
	src: url('fonts/TramJoanneum-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/TramJoanneum-Light.woff') format('woff'),
		url('fonts/TramJoanneum-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Tram Joanneum';
	src: url('fonts/TramJoanneum-Medium.eot');
	src: url('fonts/TramJoanneum-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/TramJoanneum-Medium.woff') format('woff'),
		url('fonts/TramJoanneum-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Tram Joanneum';
	src: url('fonts/TramJoanneum-Bold.eot');
	src: url('fonts/TramJoanneum-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/TramJoanneum-Bold.woff') format('woff'),
		url('fonts/TramJoanneum-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}



html {
    height: 100%;
}

body {
    height: 100%;
    color: #000000;  
    font-family: 'Tram Joanneum', 'Arial';
    position: relative;
    font-size: 13px;
    font-weight: 300;
	background: #FAFAFA !important;
	padding: 0px !important;
	margin: 0px !important;
}


a, a:visited {
	text-decoration: none;
	font-size: 14px;
	color: #3ba0d2;
}


a:hover {
	text-decoration: underline;
}

.clear {
	clear: both;
}

.hide {
	display: none !important;
}

h2 {
	margin-top: 50px;
}

h2:first-child {
	margin-top: 0px;
}

img {
	max-width: 100%;
	height: auto;
}

figure {
	margin: 0px;
}

.c50l {
	float: left;
	width: 48%;
	padding-right: 2%;
}

.c50r {
	float: right;
	width: 48%;
	padding-left: 2%;
}



header .inner,
.projectExplanation,
.creditsButton,
.currentGame,
footer .footerInner {
	width: 990px;
	margin: 0 auto;
}


header {
	background: #FFFFFF url(../img/header-bg-line.png) repeat-x 0px 75px / 5px auto;
	border-bottom: 1px solid #FFFFFF;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.25);
	margin-bottom: 25px;
	position: relative;
	z-index: 10000;
	
	height: 80px;
}


header .logo {
	width: 300px;
	height: 80px;
	display: block;
	background: url(../img/logo-header.png) no-repeat 0px 0px / 300px auto;
	font-size: 0px;
	text-indent: -50000em;
	float: left;
}



header nav {
	float: right;
}

header nav ul {
	list-style: none outside none;
	padding: 0px;
	margin: 0px;
}

header nav ul li {
	float: left;
	padding: 0px 10px;
}

header nav ul li a,
header nav ul li a:visited {
	height: 75px;
	display: block;
	line-height: 80px;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	
	color: #666666;
	border-bottom: 5px solid #d9d9d9;

	transition: color .5s ease-in-out, border-color .5s ease-in-out;
	-moz-transition: color .5s ease-in-out, border-color .5s ease-in-out;
	-webkit-transition: color .5s ease-in-out, border-color .5s ease-in-out;
}

header nav ul li a:hover {
	color: #252525;
	border-color: #252525;
	text-decoration: none;
}

header nav ul li a.active {
	color: #3ba0d2;
	border-color: #3ba0d2;
}


.field {
	background: #FFFFFF;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
	padding: 25px;
	margin-bottom: 25px;
}


.field,
.layer .layerInner {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.currentGame h2 {
	font-size: 34px;
	margin: 0px;
	border-bottom: 5px solid #252525;
}

.currentGame .liveCam,
.currentGame .gameField {
	width: 50%;
	float: left;
}

.currentGame .liveCam {
	padding-top: 48px;
}

.currentGame .liveCam figcaption {
	background: #252525;
	color: #FFFFFF;
	height: 37px;
	line-height: 37px;
	padding-left: 15px
}


.currentGame .goField {
	
}

.currentGame .playTime {
	clear: both;
}


.layer {
	background: rgba(255,255,255,0.9999);	
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
	padding: 25px;
	margin-bottom: 25px;
		
	/* min-height: calc(100% - 100px); */

	/* display: none; */
	display: block;
	
	position: absolute;
	top:80px;
	left: 0px;
	/*  width: calc(100% - 50px); */
	/* min-height: calc(100% - 130px); */
	
	z-index: 10000;

	overflow: hidden;
	height: 0px;
	width: 100%;
	padding: 0px;
	opacity: 0;
	transition: height .5s ease-in-out, padding .5s ease-in-out, opacity .5s ease-in-out;
	-moz-transition: height .5s ease-in-out, padding .5s ease-in-out, opacity .5s ease-in-out;
	-webkit-transition: height .5s ease-in-out, padding .5s ease-in-out, opacity .5s ease-in-out;

}

.layer.showLayer {
	display: block;
	/* height: calc(100% - 130px); 
  		min-height: auto;	*/
	height: auto;
	min-height: calc(100% - 130px); 
	padding: 25px 0px;
	opacity: 1;
}


.layer .layerInner {
	padding-top: 25px;
	padding-bottom: 25px;
}



a.button,
span.button {
	display: inline-block;
	min-width: 150px;
	
	border: 3px solid #000000;
	padding: 5px 15px 6px 15px;
	margin: 5px 5px 5px 0px;

	font-size: 16px;
	color: #000000;
	text-decoration: none;
	text-align: center;	

	transition: color .5s ease-in-out, border-color .5s ease-in-out;
	-moz-transition: color .5s ease-in-out, border-color .5s ease-in-out;
	-webkit-transition: color .5s ease-in-out, border-color .5s ease-in-out;

}

a.button:hover,
span.button:hover {
	color: #3ba0d2;
	border-color: #3ba0d2;
	text-decoration: none;
	cursor: pointer;

}


input.text {
	border: 1px solid #000000;
	padding: 0px 10px;
	height: 35px;
	line-height: 35px;
	margin: 0px;
	width: 108px;
}

input.submit {
	border: 3px solid #000000;
	padding: 0px 10px;
	height: 37px;
	line-height: 31px;	
	background-color: #FFFFFF;
	color: #000000;
	margin: 0px;

	transition: color .5s ease-in-out, background-color .5s ease-in-out;
	-moz-transition: color .5s ease-in-out, background-color .5s ease-in-out;
	-webkit-transition: color .5s ease-in-out, background-color .5s ease-in-out;


}


input.submit:hover {
	color: #FFFFFF;
	background-color: #000000;
	text-decoration: none;
	cursor: pointer;
}



.closeLayerButton {
	position: absolute;
	top: 35px;
	right: 35px;
	
	width: 50px;
	height: 50px;
	display: block;
	
	background: #000000 url(../img/x-100x100-white.png) no-repeat center center / 50px auto;
	

	transition: background-color .5s ease-in-out;
	-moz-transition: background-color .5s ease-in-out;
	-webkit-transition: background-color .5s ease-in-out;	
}

.closeLayerButton:hover {
	background-color: #3ba0d2;
	cursor: pointer;
}


/* Home */


.playTime,
.freeGames {
	border-top: 1px solid #000000;
	border-bottom: 10px solid #CCCCCC;

	height: 70px;
	line-height: 70px;
	font-size: 18px;
	text-align: center;
	position: relative;
}


.playTime .timeLeft,
.playTime .totalTime,
.freeGames .freeGamesLeft {
	font-weight: bold;
}


.playTime .timeBar,
.freeGames .freeGamesBar {
	height: 10px;
	display: block;
	
	width: 100%;
	background: #3ba0d2; 
	
	position: absolute;
	bottom: -10px;
	
	transition: width .5s ease-in-out, background-color .5s ease-in-out;
	-moz-transition: width .5s ease-in-out, background-color .5s ease-in-out;
	-webkit-transition: width .5s ease-in-out, background-color .5s ease-in-out;
	
	
}


.creditsButton .button {
	width: calc(100% - 40px);
	font-size: 34px;
	text-transform: uppercase;
}




/* GAMEBOARD */


.layer#startGame {
	position: relative;
	top: 0px;
}


#gameField .goBoard {
	width: 480px;
	height: 480px;
	display: block;
}

#gameField .gameInfo {
	width: 480px;
	display: block;
}




#gameField .goBoard {
	background: #d4e5ef;
	float: left;
}

#gameField .goField {
	float: left;
	margin: 0px;
	padding: 0px;
}


#gameField .gameInfo {
	float: right;
}

#gameField .gameInfo h2,
#gameField .gameInfo .item,
#gameField .gameInfo p {
	margin-left: 25px;
}

.item,
#gameField .gameInfo .item {
	padding-top: 6px;
	padding-bottom: 7px;
	border-top: 1px solid #acacac;
	display: block;
}




#gameField .gameInfo .itemJoinGameFirst,
#gameField .gameInfo .item.hideItem {
	display: none;
}

#gameField .gameInfo .showItem {
	display: block;
}

#gameField .gameInfo .itemJoinGameFirst p {
	margin: 0px 0px 0px 25px;
	font-size: 18px;
}




.item .label,
#gameField .gameInfo .item .label {
	text-transform: uppercase;
}

.item .value,
#gameField .gameInfo .item .value {
	font-weight: bold;
	float: right;
}


.timeLeftInGame,
.timeLeftInRound {
	padding: 0px;
	margin-top: 3px;
	border: 0px;
	height: 5px;
	width: 100%;
	display: block;
	background: #CCCCCC;
	position: relative;

}

.timeLeftInGame .timeBar,
.timeLeftInRound .timeBar {
	width: 100%;
	height: 5px;
	display: block;
	
	background: #3ba0d2; 
	
	position: absolute;
	top: 0px;
	left: 0px;
	
	transition: width .5s ease-in-out, background-color .5s ease-in-out;
	-moz-transition: width .5s ease-in-out, background-color .5s ease-in-out;
	-webkit-transition: width .5s ease-in-out, background-color .5s ease-in-out;
	
}

#gameField .gameInfo .infoBox .item {
	border: none;
	margin-bottom: 20px;
}

.gameInfo.otherTeam .timeLeftInRound .timeBar {
	background: #848484;
}

.gameInfo.yourTeam .timeLeftInRound .timeBar {
	background: #3ba0d2;
}


.gameInfo .itemPlaceStone {
	color: #66c006;
}

.gameInfo .placeStatus {
	background-color: #66c006;
	color: #FFFFFF;
	
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	
	transition: background-color .5s ease-in-out;
	-moz-transition: background-color .5s ease-in-out;
	-webkit-transition: background-color .5s ease-in-out;
	
}

.gameInfo .placeStatus.yourTeam {
	background-color: #66c006;	
}

.gameInfo .placeStatus.otherTeam {
	background-color: #bd0505;	
}

.gameInfo .joinGameFirst .placeStatus {
	background-color: #3ba0d2;		
}



.gameInfo .placeStatus.yourTeam .yourTeamInfotext,
.gameInfo .placeStatus.otherTeam .otherTeamInfotext,
.gameInfo .joinGameFirst .placeStatus .joinGameFirstInfotext {
	display: block;
}

.gameInfo .placeStatus.otherTeam .yourTeamInfotext,
.gameInfo .placeStatus.yourTeam .otherTeamInfotext,
.gameInfo .joinGameFirst .placeStatus .yourTeamInfotext,
.gameInfo .joinGameFirst .placeStatus .otherTeamInfotext,
.gameInfo .placeStatus .joinGameFirstInfotext {
	display: none;
}






#gameField .liveCam img {
	padding-top: 25px;
	margin-top: 25px;
	border-top: 2px solid #000000;
}



.goField {
    margin: auto;    
	width: 450px;
    height: 450px;
    padding: 25px;
	background: url(../img/goField.png) no-repeat center center / 450px;
}

.goField .place {
	width: 40px;
	height: 40px;
	margin: 5px;
	border-radius: 100%;
	float: left;	
	opacity: 0.99;

	transition: color .5s ease-in-out, background .5s ease-in-out;
	-moz-transition: color .5s ease-in-out, background .5s ease-in-out;
	-webkit-transition: color .5s ease-in-out, background .5s ease-in-out;

	color: #CCCCCC;
	text-align: center;
	
}

.goField .place.black {
	color: #FFFFFF;
	background-color: #000000;
	
	background-image: -webkit-gradient(linear, left top, right bottom, from(#050505), to(#050505), color-stop(1%, #353535), color-stop(6%, #343434), color-stop(26%, #4f4f4f), color-stop(50%, #1d1d1d), color-stop(74%, #4f4f4f), color-stop(94%, #343434), color-stop(99%, #353535));
	background-image: -webkit-linear-gradient(305deg, #050505, #353535 1%, #343434 6%, #4f4f4f 26%, #1d1d1d 50%, #4f4f4f 74%, #343434 94%, #353535 99%, #050505);
	background-image: -moz-linear-gradient(305deg, #050505, #353535 1%, #343434 6%, #4f4f4f 26%, #1d1d1d 50%, #4f4f4f 74%, #343434 94%, #353535 99%, #050505);
	background-image: -o-linear-gradient(305deg, #050505, #353535 1%, #343434 6%, #4f4f4f 26%, #1d1d1d 50%, #4f4f4f 74%, #343434 94%, #353535 99%, #050505);
	background-image: -ms-linear-gradient(305deg, #050505, #353535 1%, #343434 6%, #4f4f4f 26%, #1d1d1d 50%, #4f4f4f 74%, #343434 94%, #353535 99%, #050505);
	background-image: linear-gradient(305deg, #050505, #353535 1%, #343434 6%, #4f4f4f 26%, #1d1d1d 50%, #4f4f4f 74%, #343434 94%, #353535 99%, #050505);

	
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	

}

.goField .place.white {
	color: #000000;
	background-color: #dbdbdb;



	background-image: -webkit-gradient(linear, left top, right bottom, from(#fcfcfc), to(#fcfcfc), color-stop(1%, #f7f7f7), color-stop(6%, #f2f2f2), color-stop(26%, #d9d9d9), color-stop(50%, #bfbfbf), color-stop(74%, #d9d9d9), color-stop(94%, #f2f2f2), color-stop(99%, #f7f7f7));
	background-image: -webkit-linear-gradient(316deg, #fcfcfc, #f7f7f7 1%, #f2f2f2 6%, #d9d9d9 26%, #bfbfbf 50%, #d9d9d9 74%, #f2f2f2 94%, #f7f7f7 99%, #fcfcfc);
	background-image: -moz-linear-gradient(316deg, #fcfcfc, #f7f7f7 1%, #f2f2f2 6%, #d9d9d9 26%, #bfbfbf 50%, #d9d9d9 74%, #f2f2f2 94%, #f7f7f7 99%, #fcfcfc);
	background-image: -o-linear-gradient(316deg, #fcfcfc, #f7f7f7 1%, #f2f2f2 6%, #d9d9d9 26%, #bfbfbf 50%, #d9d9d9 74%, #f2f2f2 94%, #f7f7f7 99%, #fcfcfc);
	background-image: -ms-linear-gradient(316deg, #fcfcfc, #f7f7f7 1%, #f2f2f2 6%, #d9d9d9 26%, #bfbfbf 50%, #d9d9d9 74%, #f2f2f2 94%, #f7f7f7 99%, #fcfcfc);
	background-image: linear-gradient(316deg, #fcfcfc, #f7f7f7 1%, #f2f2f2 6%, #d9d9d9 26%, #bfbfbf 50%, #d9d9d9 74%, #f2f2f2 94%, #f7f7f7 99%, #fcfcfc);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	box-shadow: 0 1px 2px rgba(0,0,0,0.25);

	

}

.goField .place.placed {
	background-color: rgba(121, 215, 21, 0.5);
}


.goField .place:hover {
	cursor: pointer;
	background-color: rgba(44, 216, 255, 0.50);
}

.goField .place.black:hover {
	opacity: 1;	
	background-color: #000000;
}

.goField .place.white:hover {
	opacity: 1;	
	background-color: #dbdbdb;
}

.currentGame .goField .place:hover {
	cursor: default;
	background-color: rgba(44, 216, 255, 0.0);
}


/* Credits */

#howToPlay,
#ethYesField,
#ethNoField {
	text-align: center;
}

.ethWalletAdress {
	color: #CCCCCC;
	padding-left: 15px;
	padding-right: 15px;
}

.claimFreeGame {
	padding-top: 25px;
	text-align: center;	
}

.claimFreeGame .freeGameQuestion {
	font-size: 15px;
	font-style: italic;
	border: 1px solid #CCCCCC;
	padding: 10px 25px 10px 25px;
	margin-bottom: 10px;
	display: inline-block;
}

.claimFreeGame input.text {
	width: 200px;
}





/* Endgame */

#thankYou {
	text-align: center;
}

#thankYou h2 {
	margin: 0px;
}


.socialIcon {
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-right: 10px;
	border-radius: 100%;
	
	background: #3ba0d2;
	
	font-size: 0px;
	text-indent: -50000em;

	transition: background-color .5s ease-in-out;
	-moz-transition: background-color .5s ease-in-out;
	-webkit-transition: background-color .5s ease-in-out;

}

.socialIcon:hover {
	background-color: #000000;
}



/* footer */

footer {
	background: url(../img/footer-bg.jpg) no-repeat center bottom;
	height: 720px;
	width: 100%;
	display: block;
}

footer .footerInner {
	padding-top: 520px;
}

footer p {
	margin: 0px;
	padding: 0px;
}

footer .footerLogo,
footer .footerLogo p {
	width: 170px;
	height: 80px;
	display: block;
}

footer .footerLogo p {
	background: url(../img/logo-footer.png) no-repeat 0px 0px / 170px auto;
	font-size: 0px;
	text-indent: -500000em;
}

footer .cooperationText {
	padding-top: 10px;
	padding-bottom: 10px;
}

footer .cooperationText p {
	font-size: 18px;
	font-weight: 300;
	color: #252525;
}

footer .cooperationText p a {
	font-size: 18px;
	font-weight: bold;
	color: #252525;
	transition: color .5s ease-in-out;
	-moz-transition: color .5s ease-in-out;
	-webkit-transition: color .5s ease-in-out;
}

footer .cooperationText p a:hover {
	color: #3ba0d2;
	text-decoration: none;
}


footer .partners {
	border-top: 2px solid #252525;
	height: 75px;
	display: block;
}

footer .partners a {
	height: 75px;
	display: block;
	font-size: 0px;
	text-indent: -500000em;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: auto 75px;
	float: left;
}

footer .partners a.kunsthaus-graz {	
	width: 160px; 
	background-image: url(../img/footer-kunsthaus-graz.png); 
	padding-right: 130px;
}

footer .partners a.cep-eu {	
	width: 250px; 
	background-image: url(../img/footer-eu.png); 
	padding-right: 190px;
}

footer .partners a.toolbox { 
	width: 110px;
	background-image: url(../img/footer-toolbox.png);
}
footer .partners a.drei {
	width:  40px; 
	background-image: url(../img/footer-drei.png); 
	float: right
}







/* UseFul Informations */


/*

	font-family: 'Tram Joanneum';
	
	light		font-weight: 300
	regular:	font-weight: normal;
	medium: 	font-weight: 500
	bold:		font-weight: bold;
	
	
	light blue: 	#3ba0d2;
  dark blue:  #1a6185;
	    
	.1px	{ font-size: 0.07692em; }
	.2px	{ font-size: 0.15385em; }
	.3px	{ font-size: 0.23077em; }
	.4px	{ font-size: 0.30769em; }
	.5px	{ font-size: 0.38462em; }
	.6px	{ font-size: 0.46154em; }
	.7px	{ font-size: 0.53846em; }
	.8px	{ font-size: 0.-------; }
	.9px	{ font-size: 0.61538em; }
	.10px	{ font-size: 0.76923em; }
	.11px	{ font-size: 0.84615em; }
	.12px	{ font-size: 0.92307em; }
	.13px	{ font-size: 1em; }
	
	.14px	{ font-size: 1.07692em; }
	.15px	{ font-size: 1.15385em;}
	.16px	{ font-size: 1.23076em; }
	.17px	{ font-size: 1.30769em; }
	.18px	{ font-size: 1.38461em; }
	.19px	{ font-size: 1.46154em; }
	.20px	{ font-size: 1.53846em; }
	.21px	{ font-size: 1.61538em; }
	.22px	{ font-size: 1.69230em; }
	.23px	{ font-size: 1.76923em; }
	.24px	{ font-size: 1.84615em; }
	.25px	{ font-size: 1.92308em; }
	.26px	{ font-size: 2em; }
	
	.27px	{ font-size: 2.07692em; }
	.28px	{ font-size: 2.15385em; }
	.29px	{ font-size: 2.23077em; }
	.30px	{ font-size: 2.30769em; }
	.31px	{ font-size: 2.38462em; }
	.32px	{ font-size: 2.46154em; }
	.33px	{ font-size: 2.53846em; }
	.34px	{ font-size: 2.61538em; }
	.35px	{ font-size: 2.69231em; }
	.36px	{ font-size: 2.76923em; }
	.37px	{ font-size: 2.84615em; }
	.38px	{ font-size: 2.92308em; }
	.39px	{ font-size: 3em; }

	transition: color .5s ease-in-out, background-position .5s ease-in-out;
	-moz-transition: color .5s ease-in-out, background-position .5s ease-in-out;
	-webkit-transition: color .5s ease-in-out, background-position .5s ease-in-out;

*/

